.j_modal {
    padding: 25px;
    border-radius: 14px;
    max-width: 480px;
    margin: 0 auto;
    margin-top: 150px;
    background-color: white;
    .header {
        h1,
        h2,
        h3 {
            text-align: center;
        }
    }
    // .j_body {}
}